inputFiles/default/input/genericInput.json
inputFiles/default/input/RandomInversionInput.json
inputFiles/default/input/temp/temp0.json
inputFiles/default/input/temp/temp1.json
inputFiles/default/input/temp/temp2.json
inputFiles/default/input/genericInput.json
inputFiles/default/input/RandomInversionInput.json
pythonScripts/__pycache__/
pythonScripts/classes/__pycache__/
*.idea
*.vscode
venv/*
results/*
.idea/
.vscode/
Build/
FWIInstall/
doc/how-to-build-run-guide/BUILD_RUN_DOCUMENT.fdb_latexmk
doc/how-to-build-run-guide/BUILD_RUN_DOCUMENT.fls
doc/how-to-build-run-guide/BUILD_RUN_DOCUMENT.log
doc/how-to-build-run-guide/BUILD_RUN_DOCUMENT.out
doc/documentingStandard/documentingStandard.log
doc/documentingStandard/documentingStandard.out
*.aux
*.synctex.gz
*.user
*.so
*.exe
