
src/chi_est_temple\.txt

src/chi\.txt

src/temple_result\.png

*.user
googletest-master/
doc/how-to-build-run-guide/BUILD_RUN_DOCUMENT.synctex.gz
doc/how-to-build-run-guide/BUILD_RUN_DOCUMENT.aux
doc/how-to-build-run-guide/BUILD_RUN_DOCUMENT.log

*.autosave

doc/**/*.aux
doc/**/*.bbl
doc/**/*.blg
doc/**/*.log
doc/**/*.nlo
doc/**/*.out
doc/**/*.synctex.gz
doc/**/*.toc
